/* RESET */

html,body{
margin:0;
padding:0;
}

*{
box-sizing:border-box;
font-family:Segoe UI;
}



/* BACKGROUND */

.bg-wrapper{

min-height:100vh;

background-image:url("/static/images/bgb.png");

background-repeat:no-repeat;

background-size:cover;

background-position:top center;

color:#3a2b2b;

}



/* HERO */

.hero{

display:flex;
justify-content:space-between;
align-items:center;

padding:140px 10% 80px;

}



.hero-left{

max-width:520px;

}



/* BRAND */

.brand{

display:flex;
align-items:center;
gap:12px;

margin-bottom:25px;

}

.brand img{

width:100px;

}

.brand h1{

font-size:54px;
margin:0;

}

.green{

color:#006400;

}

.red{

color:#8b0000;

}



/* HERO TEXT */

.hero h2{

font-size:48px;

margin-bottom:18px;

}



.hero p{

font-size:18px;

margin-bottom:28px;

color:#5a4b4b;

}



/* BUTTONS */

.hero-buttons{

display:flex;
gap:15px;

}



.main-btn{

background:#8b0000;

color:white;

border:none;

padding:12px 28px;

border-radius:10px;

cursor:pointer;

transition:0.3s;

}

.main-btn:hover{

transform:scale(1.05);
box-shadow:0 8px 20px rgba(0,0,0,0.2);

}



.secondary-btn{

background:white;

border:none;

padding:12px 26px;

border-radius:10px;

cursor:pointer;

transition:0.3s;

}

.secondary-btn:hover{

background:#006400;
color:white;

}



/* FLOATING CARDS */

.floating{

display:grid;

grid-template-columns:repeat(2,240px);

gap:35px;



}



.career-card{

background:rgba(255,255,255,0.28);

backdrop-filter:blur(12px);

padding:16px;

border-radius:16px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,0.15);

}

.career-card img{

width:120px;

margin-bottom:12px;

}



/* TILT */

.tilt1{transform:rotate(-6deg);}
.tilt2{transform:rotate(6deg);}
.tilt3{transform:rotate(-4deg);}
.tilt4{transform:rotate(5deg);}

/* SECTIONS */

.section{

padding:60px 10%;

text-align:center;

}



.section h2{

font-size:36px;

margin-bottom:20px;

}



/* FEATURES */

.features{

display:flex;

justify-content:center;

gap:30px;

}



.glass-card{

width:260px;

background:rgba(255,255,255,0.25);

backdrop-filter:blur(12px);

border-radius:16px;

padding:22px;

box-shadow:0 10px 20px rgba(0,0,0,0.15);

}



/* HOW SECTION */

.how-section{

padding:80px 10%;

text-align:left;

}



.subtitle{

margin-bottom:40px;

color:#5c4b4b;

}



/* PYRAMID LAYOUT */

.steps{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

max-width:600px;

}



.step1{

grid-column:1 / 3;

justify-self:center;

}



.step2{

justify-self:end;

}



.step3{

justify-self:start;

}